{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block content %}

<div class="container">
    <div class="mt-5 mb-4">
        <h2>Twoje zapytanie</h2>
    </div>
    <form action="/" method="get" class="d-flex align-items-end">
        <div style="width: 50%;">
            <input type="text" name="query" class="form-control ms-1" placeholder="Fraza wyszukiwania"
                   value="{{ query }}" required>
        </div>
        <div style="width: 20%;">
            
            <center><label for="file-type-filter" class="text-secondary mb-1">Typy materiałów</label></center>
            <select id="file-type-filter" name="file_type_filter" class="form-select ms-1">
                <option value="all" {% if request.args.get('file_type_filter') == 'all' %} selected {% endif %}>Wszystkie</option>
                <option value="article" {% if request.args.get('file_type_filter') == 'article' %} selected {% endif %}>Artykuł</option>
                <option value="video" {% if request.args.get('file_type_filter') == 'video' %} selected {% endif %}>Wideo</option>
            </select>
            
        </div>
        <div style="width: 20%;">
            
            <center><label for="date-filter" class="text-secondary mb-1">Zakres czasowy</label></center>
            <select id="date-filter" name="date_filter" class="form-select ms-1">
                <option value="all" {% if request.args.get('date_filter') == 'all' %} selected {% endif %}>Wszystkie</option>
                <option value="last_month" {% if request.args.get('date_filter') == 'last_month' %} selected {% endif %}>Ostatni miesiąc</option>
                <option value="last_year" {% if request.args.get('date_filter') == 'last_year' %} selected {% endif %}>Ostatni rok</option>
                <option value="last_3_years" {% if request.args.get('date_filter') == 'last_3_years' %} selected {% endif %}>Ostatnie 3 lata</option>
            </select>
            
        </div>
            <input type="submit" value="Szukaj" class="btn btn-primary ms-1" style="width: 10%;">
    </form>

    {% if result is defined %}
    <div class="mt-5 mb-4">
        <h2>Wynik</h2>
    </div>
    <div class="result">
        {% for i in range(result['ids'][0]|length) %}
            {% set id = result['ids'][0][i] %}
            {% set distance = result['distances'][0][i] %}
            {% set metadata = result['metadatas'][0][i] %}
            {% set document = result['documents'][0][i] %}

            {% set selected_file_type = request.args.get('file_type_filter') %}
            {% set selected_date = request.args.get('date_filter') %}
            {% set selected_date_ranges = {'last_month': 30, 'last_year': 365, 'last_3_years': 1095} %}
            {% set current_date = parse_date(current_date()) %}

           {% if selected_date == 'all' or
                (selected_date in selected_date_ranges and parse_date(metadata.date) >=
                (current_date - timedelta(days=selected_date_ranges[selected_date]))) %}
               {% if selected_file_type == 'all' or selected_file_type == metadata['file_type'] %}
                    <div class="alert">
                        <h3><a href="{{ metadata['source'] }}" class="alert-link">{{ metadata.title }}</a></h3>
                        <p><span class="badge badge-distance">{{ metadata.date }}</span></p>
                        <p>{{ metadata['text']|truncate(500) }}</p>
                        <div class="d-flex justify-content-end">
                            <a href="{{ metadata['source'] }}" class="btn btn-primary">Przejdź</a>
                        </div>
                        <hr>
                    </div>
               {% endif %}
           {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}