<!DOCTYPE html>
<html>
<head>
    <title>Przesyłanie linku do backendu</title>
     <style>
        .result {
            width: 100%;
            height: 80vh; /* 80% wysokości widoku */
            border: 1px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
            overflow: auto; /* dodanie paska przewijania, jeśli zawartość jest zbyt duża */
        }
    </style>
</head>
<body>
    <h2>Wprowadź link do indeksowania:</h2>
    <form action="/submit_link" method="post">
        <input type="url" name="link">
        <input type="submit" value="Send">
    </form>

    <h2>Automatyczne wprowadzenie danych:</h2>
    <form action="/add_test_data" method="post">
        <input type="submit" value="Załaduj testowe dane">
    </form>

    <h2>Twoje Query:</h2>
    <form action="/submit_query" method="post">
        <input type="text" name="query">
        <input type="submit" value="Search">
    </form>

    <h2>Wynik:</h2>
    <div class="result">{{ argument }}</div>
</body>
</html>
